<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
    <style>
      marquee{
      font-size: 30px;
      font-weight: 800;
      color: #8ebf42;
      font-family: sans-serif;
      }
    </style>
  </head>
  <body>
    <marquee>Welcome To Pandey Article About Page.</marquee>
  </body>
</html>
<%# <marquee>This is basic example of marquee</marquee> %>
<%= link_to 'Article Listing' , articles_path %>|
<%= link_to 'Home Page' , root_path %>
