<marquee>Welcome To Pandey Article Home Page.</marquee>
<div class="container" id="home-container" >
  <div class="jumbotron text-center text-white">
    <h1 class="display-4 text-dark">AlphaBlog!</h1>
    <p class="lead text-dark">This is a simple hero unit</p>
    <hr class="my-4">
    <p style="color:black;">It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
    <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
    </p>
  </div>
</div>
